div#masthead {
	margin-bottom:30px;
}

div#masthead > h1 {
	font-family: bevan;
	font-size: 48px;
}

div#masthead > #subTitle {
	font-family: Helvetica;
}


#questions h2 {
	font-family: bevan;
	font-size: 36px;
	line-height: .8;
}

a,
a:link {
	color: #333;
	text-decoration: none;
}

#questions h2 a:hover {
	color: #555;
	text-decoration: none;
}

div.col-xs-12 {
	text-align: center;
	padding-top: 100px;
	z-index: 2;
	position: fixed;
}

.vide-background-b {
	display: none;
}

footer {
	background-color: #080808;
	color: #555;
	z-index: 3;
	position: fixed;
	bottom:0;
	width:100%;
	padding:5px 10px 5px 10px;
}
footer a {
	color: #444;
}
footer a:hover {
	color: #666;
}

h5 {
	line-height: 1.2;
	margin: 2px 0px 1px 5px;
}

#lead {
	display: block;
	vertical-align: text-bottom;
	line-height: 1;
	margin: 5px 0px 25px 5px;
}

.social {
	line-height: 1.22;
	padding-bottom: 5px;
}

#questionTwo:hover {
	cursor: pointer;
}

.featherlight-content {
	background: none !important;
}

iframe {
	width: 800px;
	height: 450px;
}

.featherlight-close {
	display: none;
}

.featherlight,
.featherlight:last-of-type {
	background: rgba(0,0,0,.85) !important;
}

.ytp-chrome-top-buttons,
.ytp-title {
	display: none!important;
}

@media (max-width:769px) {
	div#masthead > h1 {
		font-size: 32px;
		font-family: bevan;
	}

	div#masthead > #subTitle {
		font-family: Helvetica;
	}

	#questions h2{
		line-height: 1;
		margin-top:30px;
	}

	#questions a {
		color: #fff;
	}

	div.col-xs-12 {
		color: #FFFFFF;
		text-align: center;
		z-index: 2;	
	}

	iframe {
		width: 320px;
		height: 180px;
	}

	.vide-background {
		display:none;
	}
	.vide-background-b {
		display: block;
	}

	#byline {
		text-align: center;
	}

	.bylineTitles {
		color: #C0C0C0;
	}

	h3#lead {
		line-height: 1;
	}


}