div#masthead > h1 {
	font-size: 48px;
	margin-bottom: -10px;
}

#subTitle {
	font-family: Helvetica;
	margin: 8px 0px 25px 0px;
}

#questions h2 {
	font-size: 42px;
	line-height: 1;
	margin: 0px 0px 10px 0px;
}

a,
a:link {
	color: #333;
	text-decoration: none;
}

#questions h2 a:hover {
	color: #555;
	text-decoration: none;
}

div.col-xs-12 {
	font-family: bevan;
	text-align: center;
	padding-top: 100px;
	z-index: 2;
	position: fixed;
}

footer {
	background-color: #080808;
	color: #555;
	z-index: 3;
	position: fixed;
	bottom:0;
	width:100%;
	padding:5px 0px 5px 0px;
}
footer a {
	color: #555;
}
footer a:hover {
	color: #666;
}

h5 {
	line-height: 1.2;
	margin: 2px 0px 1px 5px;
}

#lead {
	display: block;
	vertical-align: text-bottom;
	line-height: 1;
	margin: 5px 0px 25px 5px;
}

.social {
	line-height: 1.22;
	padding-bottom: 5px;
}

#questionTwo:hover {
	cursor: pointer;
}

.featherlight-content {
	background: none !important;
}

iframe {
	width: 800px;
	height: 450px;
}

.featherlight-close {
	display: none;
}

.featherlight,
.featherlight:last-of-type {
	background: rgba(0,0,0,.85);
}

.ytp-chrome-top-buttons,
.ytp-title {
	display: none!important;
}

@media (max-width:769px) {
	div#masthead > h1 {
		font-size: 32px;
		margin-bottom: 0px;
	}

	#subTitle {
		margin-top: 0px;
	}

	#questions {
		font-size: 22px;
	}

	div.col-xs-12 {
		font-family: bevan;
		text-align: center;
		z-index: 2;	}

	#byline {
		text-align: center;
	}

	.bylineTitles {
		color: #C0C0C0;
	}

	h3#lead {
		line-height: 1;
	}


}